<div class="relative bg-white">
  <div class="max-w-7xl mx-auto lg:px-10 md:px-10 px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <a href="/" class="flex items-center sm:mb-0">
        <img src="../assets/images/newNEWS.png" class="mr-3 lg:h-10 md:h-812 h-14" alt="New NEWS Logo">
        <span class="hidden md:flex self-center text-2xl font-semibold whitespace-nowrap dark:text-white font-custom">
          The new News
        </span>
      </a>

      <nav class="md:flex items-center justify-end md:flex-1">
        <a routerLink="/archived" routerLinkActive="active"
          class="text-base font-medium text-gray-500 hover:text-gray-900">
          Archived
        </a>
      </nav>
    </div>
  </div>
</div>
