<footer class="bg-black py-5">
  <div class="max-w-7xl mx-auto lg:px-10 md:px-10 px-6">
  <div class="sm:flex sm:items-center sm:justify-between">
      <a href="/" class="flex text-center  mb-4 sm:mb-0">
          <img src="../assets/images/newNEWS.png" class="mr-3 h-12" alt="Flowbite Logo">
          <span class="text-white self-center text-2xl font-semibold whitespace-nowrap dark:text-white">The new News</span>
      </a>
      <ul class="flex flex-wrapmb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400 justify-between">
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
          </li>
          <li>
              <a href="#" class="hover:underline">Contact</a>
          </li>
      </ul>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
  <span class="block text-sm text-gray-500 text-center dark:text-gray-400">© 2022 <a href="/" class="hover:underline">TheNewNEWS™</a>. All Rights Reserved.
  </span>
  </div>
</footer>
